.container {
  height: 100%;
  /* scroll 넘쳐도 위아래 넘어가지 않도록 */
  min-height: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg);
}

.list {
  flex: 1 1 auto;
  overflow-y: auto;
}
